/** @format */

table {
  width: 800px;
}

img {
  max-width: 100%;
}

.blueBG {
  background-color: navy;
  color: whitesmoke;
}

.mt-10 {
  height: 1000px;
}

body {
  min-height: 100vh;
  background-image: url("/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  padding: 20px;
  line-height: 1.5;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  line-height: 1.8;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 19px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transform: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}
