/** @format */

table {
  width: 800px;
}

img {
  max-width: 100%;
}

.blueBG {
  background-color: navy;
  color: whitesmoke;
}

.mt-10 {
  height: 1000px;
}

body {
  min-height: 100vh;
  background-image: url("/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  padding: 10px 20px;
  line-height: 1.5;
  background: seagreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-size: 1.5rem;
  line-height: 1.8;
  white-space: nowrap;
  overflow: hidden;
}
